.card {
  display: flex;
  gap: 20px;

  .imageContainer {
    flex: 2;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .textContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.4s ease;

      &:hover {
        color: #000;
        scale: 1.01;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      /* First Counter - Input Number (Reps) */
      .counter {
        display: flex;
        align-items: center;

        .inputCounter {
          width: 60px;
          padding: 5px;
          text-align: center;
          font-size: 16px;
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-right: 10px;
        }

        .counterLabel {
          font-size: 14px;
          color: #888;
        }
      }

      /* Second Counter - Increase/Decrease (Sets) */
      .counterWithButtons {
        display: flex;
        align-items: center;
        gap: 10px;

        .counterButton {
          background-color: #f0f0f0;
          border: 1px solid #ddd;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 18px;

          &:hover {
            background-color: #ddd;
          }
        }

        .counterValue {
          font-size: 18px;
          font-weight: 500;
        }

        .counterLabel {
          font-size: 14px;
          color: #888;
        }
      }
    }
  }
}
