.services{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

    .service{
        flex-basis: 31%;
        position: relative;

        &:hover{
            .caption{
                opacity: 1;
                padding-top: 0;
            }
        }

        img{
            width: 100%;
            border-radius: 10px;
            display: block;
        }

        a{
            .caption{
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(196,231,195,0.3);
                display: flex;
                align-items: center;
                flex-direction: column;
                color: rgb(196,231,195);
                cursor: pointer;
                opacity: 0;
                padding-top: 70%;
                transition: 0.4s;
                
                img{
                    margin-top: 30%;
                    width: 20%;
                    margin-bottom: 10px;
                }
    
            }
        }
    }
}