nav {
    width: 100%;
    height: 100px;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding-left: 5%;
    padding-right: 5%;
    transition: background-color 0.4s ease; // Added transition for smooth background color change
  
    // Background color change on scroll
    &.scrolled {
      background-color: rgb(196, 231, 195); // Change this to the solid color you want
    }
  
    .left {
      gap: 20px;
    }
  
    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      gap: 10px;
      transition: all 0.4s ease;
      margin-top: 0%;
  
      &:hover {
        scale: 1.05;
      }
  
      span {
        margin-top: 5%;
      }
  
      img {
        margin-top: 0%;
        width: 28px;
      }
    }
  
    .right {

      .user{
        display: flex;
        align-items: center;
        font-weight: bold;
        // gap: 15px;

        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }

        .profile{
          padding: 12px 24px;
          background-color: rgb(196, 231, 195);
          cursor: pointer;
          border: none;
          margin-left: 10px;
          transition: all 0.4s ease;
  
          &:hover {
            scale: 1.05;
          }
        }
      }

      ul {
        li {
          display: inline-block;
          list-style: none;
          margin: 5px 20px;
          font-size: 20px;
          margin-top: 0%;
          transition: all 0.4s ease;
  
          &:hover {
            scale: 1.05;
          }
        }

        
  
        .register {
          background-color: black;
          color: rgb(196, 231, 195);
          padding: 12px 15px;
          margin: 20px;
        }
      }
    }
  }
  