.comp1{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( rgba(196,231,195,0.4), rgba(196,231,195,0.4)), url('../../Assects/ocean-5110906_1920.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .comp1-text{
        text-align: center;
        max-width: 800px;

        h1{
            font-size: 60px;
            font-weight: 600;
        }

        p{
            max-width: 700px;
            margin: 10px auto 20px;
            line-height: 1.4;
        }


        .register2{
            background-color: black;
            color: rgb(196,231,195);
            padding: 14px 25px;
            margin: 20px;
            cursor: pointer;

            
        }
    }
}